<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Leffapankki</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>

<body>
	
	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Category</th>
			<th>Year</th>
			<th>Rating</th>
			<th></th>
			<th></th>
		</tr>
		
		<tr th:each="movie : ${movies}">
			<td th:text="${movie.id}">Id</td>
			<td th:text="${movie.title}">Title</td>
			<td>
    		<span th:if="${movie.category!=null}" th:text="${movie.category.name}"></span>
    		<span th:unless="${movie.category!=null}"></span>
    		</td>	
    		<td th:text="${movie.year}">Year</td>
			<td th:text="${movie.rating}">Rating</td>
			<td><a th:href="@{/deletemovie/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a></td>
			<td><a th:href="@{/editmovie/{id}(id=${movie.id})}" class="btn btn-info">Edit</a></td>
		</tr>
	</table>
	
			<p sec:authorize="hasAuthority('ADMIN')"><a href="/newmovie" class="btn btn-success">New Movie</a></p>
			
			<h5>Logged in as: [[${#httpServletRequest.remoteUser}]]</h5>
			
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout"/>
			</form>

</body>
</html>